<% @page_title = "#{@player.name}" %>
<%= link_to("#{@team.name} vs #{@opp_team.name}", :controller => 'statistics', :action => 'today', :id => params[:team_id]) %>
<h3> <%= @player.name + " Matchups"%> </h3>
<%= render(:partial => 'matchup_table', :locals => {:game => @game}) %>