<% date = Time.now.strftime("%B %d") %> 
<%= link_to(date + " Matchups", :controller => 'index', :action => 'today') %>
<h2><%= @home_team.name + " vs " + @away_team.name %></h2>
<%= render(:partial => 'matchup_table') %>