<% @page_title = "First Team" %>

<%= link_to("Home Page", :controller => 'access', :action => 'index') %>

<h2>First Team</h2>
<div id="main">
	<div id="list">
		<ul>
			<% @teams.each do |team| %>
			<li><%= link_to(team.name, :controller => 'index', :action => 'second', :first_id => team.id) %></li>
			<% end %>
		</ul>
	</div>
</div>