<% @page_title = "Second Team" %>

<%= link_to("First Team", :controller => 'index', :action => 'first') %>

<h2><%= "First Team " + Team.find_by_id(params[:first_id]).name %><h2>
<h2>Second Team</h2>
<div id="main">
	<div id="list">
		<ul>
			<% @teams.each do |team| %>
			<li><%= link_to(team.name, :controller => 'statistics', :action => 'matchup', :first_id => params[:first_id], :second_id => team.id) %></li>
			<% end %>
		</ul>
	</div>
</div>