<% @page_title = "Teams" %>

<%= link_to("Home Page", :controller => 'access', :action => 'index') %>

<h2>Teams</h2>
<div id="main">
	<div id="list">
		<ul>
			<% @teams.each do |team| %>
			<li><%= link_to(team.name, :controller => 'statistics', :action => 'team', :id => team.id) %></li>
			<% end %>
		</ul>
	</div>
</div>