<% @page_title = Time.now.strftime("%B %d") %>

<%= link_to("Home Page", :controller => 'access', :action => 'index') %>

<div id="main">
	<div id="list">
		<h2><%= Time.now.strftime("%B %d") %></h2>
		<ul>
			<h4>Home vs Away</h4>
			<% @teams.each do |team| %>
			<li><%= link_to(team.today_team.name + " vs " + team.name, {:controller => 'statistics', :action => 'today', :id => team.id}) %></li>
			<% end %>
		</ul>
	</div>
</div>