<% @page_title = Time.now.strftime("%B %d") %>
<div align="center">
<%= link_to("Home Page", :controller => 'access', :action => 'index') %>
</div>

<div id="main">
	<div id="list">
		<h2 align="center"><%= Time.now.strftime("%B %d") %></h2>
		<div align="center">
			<h4 align="center">Home vs Away</h4>
			<% @teams.each do |team| %>
			<li><%= link_to(team.today_team.name + " vs " + team.name, {:controller => 'statistics', :action => 'today', :id => team.id}) %></li>
			<% end %>
		</div>
	</div>
</div>