<!DOCTYPE html>
<html>
	<head>
  		<title>NBA App | <%= @page_title || "Admin" %></title>
	</head>
	<body>
		<div id="header">
			<h1>NBA App</h1>
		</div>
		<div id="main">
			<% if !flash[:notice].blank? %>
				<div class="notice">
					<%= flash[:notice] %>
				</div>
				<div id="content">
					<%= yield %>
				</div>
			<% end %>
		</div>
		<div id="footer">
			<p id="copyright">&copy; Mike Halioua</p>
		</div>
	</body>
</html>
